h2 {
    text-align: center;
}

body {
    width: 300px;
}

body {
    box-sizing: border-box;
    border: solid;
    width: 300px;

}

ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    font-size: 18px;
    border-style: groove;
}

ul li.checked {
    text-decoration: line-through;
}

  ul li.checked::before {
    content: '';
    position: absolute;
    border-color: black;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}

.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
}

.footer:after {
    content: "";
    display: table;
    clear: both;
  }

  input {
    border-style: groove;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
  }


.add {
  float: right;
  padding: 2px;
  text-align: center;
  font-size: 30px;
  cursor: pointer;
  border-radius: 0;
  border-style: groove;
}